<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>

<body>
    <h1>Secret Information</h1>
    <img src="https://images.unsplash.com/photo-1514559127497-120ad02d917c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXBob25lJTIwNXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
        alt="" style="width: 500px;height:500px">
    <form action="/logout" method="POST">
        <button>Sign out</button>
    </form>
</body>

</html>